 <strong>you should have <%=@bmr%> calories a day to lose 1lb a week</strong>.
<br>
<table border="1">
<tr>
<th>Meal 1</th>
<th>Meal 2</th>
<th>Meal 3</th>
<th>Meal 4</th>
<th>Meal 5</th>
<th>Meal 6</th>
</tr>
<tr>
<td><%=@bmr / 100 * 25%></td>
<td><%=@bmr / 100 * 10%></td>
<td><%=@bmr / 100 * 25%></td>
<td><%=@bmr / 100 * 10%></td>
<td><%=@bmr / 100 * 20%></td>
<td><%=@bmr / 100 * 10%></td>
</tr>
</table>