<% if flash[:notice] %>
<div style="font-family:'Trebuchet MS'; color:#33ff00; font-size:14px;">
<%= flash[:notice] %>
</div>
<% end %>

<head>
  <script type="text/javascript" src="http://www.google.com/jsapi"></script>
  <script type="text/javascript">
    google.load("visualization", "1", {packages:["corechart"]});
    google.setOnLoadCallback(drawChart);
    function drawChart() {
      var data = new google.visualization.DataTable();
      data.addColumn('string', 'Date');
      data.addColumn('number', 'Weight');
      data.addRows(<%= @all_weights_count %>);
        <% i=0
        @all_weights.each do | weight|
        %>

      data.setValue(<%=i%>, 0, '<%=weight.updated_at.to_date.to_s %>');
      data.setValue(<%=i%>, 1, <%=weight.weight_lb %>);

       <% i = i + 1
        end %>


      var chart = new google.visualization.ColumnChart(document.getElementById('chart_div'));
      chart.draw(data, {width: 1000, height: 300, title: 'Your Progress',
                        hAxis: {title: 'Date', titleColor:'red'}
                       });
    }
  </script>
</head>



<body>
  <div id="chart_div"></div>
</body>

  <%= form_tag :action=>'newweight' %>
Enter your new Weight lb:
<%= text_field("updateform", "weight_lb",:size=>"3" )%>
<input type="submit" value=" update " />

<br> <%= 'weight = ' + @weight_and_date[:weight].to_s + ' date = ' + @weight_and_date[:update_time].to_date.to_s%>
<br >  your current bmi is <strong><%=@current_bmi%></strong>.
<br >  your current bmr is <strong><%=@current_bmr%></strong>.
<br >  your session current bmr is <strong><%=@current_bmr2%></strong>.