<% if flash[:notice] %>
<div style="font-family:'Trebuchet MS'; color:#33ff00; font-size:14px;">
<%= flash[:notice] %>
</div>
<% end %>
hello <strong><%=session[:user_id]%></strong>.

<!--#creates logout link, when the link is clicked, the controller is User and the method executed will be logout.-->
<%= link_to "logout",:controller => "user", :action => "logout" %>
  <%= form_tag :action=>'newweight' %>
Enter your new Weight lb:
<%= text_field("updateform", "weight_lb",:size=>"3" )%>
<input type="submit" value=" update " />

<br> <%= 'weight = ' + @weight_and_date[:weight].to_s + ' date = ' + @weight_and_date[:update_time].to_date.to_s%>
<br >  your current bmi is <strong><%=@current_bmi%></strong>.
<br >  your current bmr is <strong><%=@current_bmr%></strong>.
