<% if flash[:notice] %>
<div style="font-family:'Trebuchet MS'; color:#33ff00; font-size:14px;">
<%= flash[:notice] %>
</div>
<% end %>

  <%= form_tag :action=>'newweight' %>
Enter your new Weight lb:
<%= text_field("updateform", "weight_lb",:size=>"3" )%>
<input type="submit" value=" update " />

<br> <%= 'weight = ' + @weight_and_date[:weight].to_s + ' date = ' + @weight_and_date[:update_time].to_date.to_s%>
<br >  your current bmi is <strong><%=@current_bmi%></strong>.
<br >  your current bmr is <strong><%=@current_bmr%></strong>.
<br >  your session current bmr is <strong><%=@current_bmr2%></strong>.
