<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
       "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">

<head>
  <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
  <title>DietEaser</title>
  <%= stylesheet_link_tag 'layout' %>
</head>
<link rel="shortcut icon" href="/favicon.ico" />

<body>
<div id="wrapper">
<div id="header">
  <%= link_to image_tag("logo-dummy.png", :border=>0), :controller => "index",:action => '' %>
      <div class="user-status">
        <% if session[:user_id] %>
            <p> hello <strong><%=session[:user_id]%></strong>. </p>
            <%= link_to "my account",:controller => "user", :action => "mypage" %>
            <%= link_to "logout",:controller => "user", :action => "logout" %>

        <% else %>
            <%= link_to "sign up",:controller => "user", :action => "signup" %>
            <%= link_to "login",:controller => "user", :action => "login" %>
        <% end %>
    </div>
    <div class="navigation">
        <ul>
            <li class="home"><a href="/">Home</a></li>
            <li class="utilities"><a class="on" href="/diet/">Diets</a></li>
            <li class="tools"><a href="/tools/">Tools</a></li>
            <li class="mypage"><a href="/user/mypage">My Account</a></li>
            <li class="news"><a href="/articles">News</a></li>
        </ul>
    </div>
</div>

<div id="content">
    <%= yield %>
</div>


<div id="footer">
<p>footer</p>
</div>
</div>
</body>
</html>
